<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicine Reminder App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.processed.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Medicine Reminder App</h1>
      <div class="form">
        <input type="text" id="medicineName" placeholder="Medicine Name" />
        <input type="time" id="reminderTime" />
        <button id="scheduleReminder">Schedule Reminder</button>
      </div>
      <div id="remindersList"></div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <!-- Notification Container -->
    <div id="notification-container"></div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
